body {
	/* background-color: #1287A8; */
	background-color: #36c9c6;
	color:#ffffff;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 48px;

}

#h2 {
	font-size: 30px;
	text-align: center;
	font-style: normal;
	font-weight: 300;
}

p {
	font-size: 24px;
}


a {
	color: #ADD8E6;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#hero-text {
	text-align: center;
}

.body-text {
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 10%;
}

.klaviyo-form-W8NnW7 {
	padding-left: 1%;
	padding-right: 1%;
}

.brand {
	font-style: bold;
	font-weight: 700;
	font-size: 96px;
	text-align: center;
}
